@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
    font-family: FontJudul;
    src: url("/moongloss/MoonGlossDisplayMedium.otf") format("opentype");
}

::selection {
    @apply dark:bg-green-now dark:text-white bg-yellow-now text-neutral-900;
}
